.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* .carousel-img{
  height: 530px;
} */
.nav-school{
  position: fixed;
  z-index: 909090;
  width: 100%;
  background-color:crimson;
}
.buy-now-bt{
  text-decoration: none;
  color: antiquewhite;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  animation: blink 2s 0s infinite;
  font-size: 17px;
}
.buy-now{
  position: fixed;
  top: 115px;
  z-index: 989898;
  margin-left: 20px;
}
.buy-now:hover{
  transform: scale(1.1);
}
 
@keyframes blink{
  0%,
  100%{
    background-color: #ce9206;
  }
  50%{
    background-color: rgb(8, 80, 2);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
