.zoom-out img {
    transition: transform 0.5s ease;
  }
  
  .zoom-out:hover img {
    transform: scale(0.9);
  }
  .school-bg{
    background-image: url(../image/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  #name-nav{
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #name-nav:hover{
    color: lightgreen;
  }
  .cards{
    background-color: lightgreen;
    border-radius: 10px;
  }
  .cards:hover{
    background-color: crimson;
    color: white;
    transform: scale(0.9);
  }